body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.calculator{
    border: 4px solid black;
    border-radius: 15px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px, rgba(240, 46, 170, 0.05) 25px 25px,rgba(240, 46, 170, 0.05) 25px 25px,rgba(240, 46, 170, 0.05) 25px 25px ;
    

}

.btn{
    height: 75px;
    width: 75px;
    margin: 15px;
    font-size: 40px;
}


.number{
    border: 3px solid slateblue;
    border-radius: 10px;
}

.number:hover{
    background-color: gray;
    color: white;
}

.operator{
    border: 3px solid cornflowerblue;
}

.operator:hover{
    background-color:cornflowerblue;
    color: white;
}

.clear{
    border: 3px solid red;
    border-radius: 10px;
}

.clear:hover{
    background-color: rgb(248, 60, 60);
    color: white;
}

.decimal{
    border: 3px solid lightgreen;
    border-radius: 10px;
}

.decimal:hover{
    background-color: lightgreen;
    color: white;
}

.equal{
    border: 3px solid lightgreen;
}

.equal:hover{
    background-color: lightgreen;
    color: white;   
}

.screen{
    width: 300px;
    height: 75px;
    margin: 13px;
    border: 3px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.previous{
    font-size: 20px;
}

.current{
    font-size: 30px;
}

.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
}