body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;

}

.nav{
    font-size: 35px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    border: 3px solid lightcoral;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
    
}

h1{
  margin: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
}

footer{
    padding: 10px;
    text-align: center;
    background-color: pink;
    width: 100%;
    
}


.calculator {
    border: 4px solid black;
    border-radius: 15px;

    box-shadow: 
        /* First shadow */
        0 5px 5px -3px rgba(240, 46, 170, 0.4), 
        0 8px 10px 1px rgba(240, 46, 170, 0.3), 
        0 3px 14px 2px rgba(240, 46, 170, 0.2), 
        /* Second shadow */
        0 5px 5px -3px rgba(240, 46, 170, 0.4), 
        0 8px 10px 1px rgba(240, 46, 170, 0.3), 
        0 3px 14px 2px rgba(240, 46, 170, 0.2), 
        /* Third shadow */
        0 5px 5px -3px rgba(240, 46, 170, 0.4), 
        0 8px 10px 1px rgba(240, 46, 170, 0.3), 
        0 3px 14px 2px rgba(240, 46, 170, 0.2);
    transition: box-shadow 0.5s ease-in-out;
}

.calculator:hover {
    box-shadow: 
        /* First shadow */
        0 10px 10px -5px rgba(240, 46, 170, 0.4), 
        0 15px 20px 3px rgba(240, 46, 170, 0.3), 
        0 5px 25px 5px rgba(240, 46, 170, 0.2), 
        /* Second shadow */
        0 10px 10px -5px rgba(240, 46, 170, 0.4), 
        0 15px 20px 3px rgba(240, 46, 170, 0.3), 
        0 5px 25px 5px rgba(240, 46, 170, 0.2), 
        /* Third shadow */
        0 10px 10px -5px rgba(240, 46, 170, 0.4), 
        0 15px 20px 3px rgba(240, 46, 170, 0.3), 
        0 5px 25px 5px rgba(240, 46, 170, 0.2);
}


.screen{
    width: 300px;
    height: 75px;
    margin: 13px;
    border: 3px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #eee;
}

.previous{
    font-size: 20px;
}

.current{
    font-size: 30px;
}

.first-row{
    display: flex;
    align-items: center;
}

.btn {
    height: 75px;
    width: 75px;
    margin: 15px;
    padding: 0px;
    font-size: 40px;
    border: 3px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 3px 0 #ccc;
    transition: box-shadow 0.2s ease;
    cursor: pointer;
  }

  button{
    display: flex;
  }
  
  .btn:hover {
    box-shadow: 0 6px 0 #ccc;
  }
  
  .btn:active {
    box-shadow: 0 0 0 #ccc;
  }
  
  .number {
    border-color: slateblue;
  }
  
  .number:hover {
    color: #fff;
    background-color: slateblue;
  }
  
  .operator {
    border-color: cornflowerblue;
  }
  
  .operator:hover {
    color: #fff;
    background-color: cornflowerblue;
  }
  
  .clear {
    border-color: red;
  }
  
  .clear:hover {
    color: #fff;
    background-color: red;
  }
  
  .decimal {
    border-color: lightgreen;
  }
  
  .decimal:hover {
    color: #fff;
    background-color: lightgreen;
  }
  
  .equal {
    border-color: lightgreen;
  }
  
  .equal:hover {
    background-color: lightgreen;
    color: #fff
 }


 @media only screen and (max-width: 445px) {
    /* Add styles here to make the calculator fit on an iPhone */
    .btn {
      /* Reduce the size of the buttons */
      height: 40px;
      width: 40px;
      /* Reduce the font size of the button text */
      font-size: 25px;
      margin: 5px;
    }

    body{
        gap: 0px;
    }

    .nav{
        font-size: 35px;   
    }

    .screen{
        width: 150px;
        height: 50px;
        margin-left: 5px;
        margin-right: 7px;
    }
    
    .previous{
        font-size: 12px;
    }
    .current {
        font-size: 20px;
      }
  
    .calculator {
      /* Make the calculator narrower to fit on the screen */
      width: 65%;
      /* Reduce the padding around the buttons */
      padding: 5px;
    }
  }
  
  
  
  
