body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}


.calculator {
    border: 4px solid black;
    border-radius: 15px;

    box-shadow: 
        /* First shadow */
        0 5px 5px -3px rgba(240, 46, 170, 0.4), 
        0 8px 10px 1px rgba(240, 46, 170, 0.3), 
        0 3px 14px 2px rgba(240, 46, 170, 0.2), 
        /* Second shadow */
        0 5px 5px -3px rgba(240, 46, 170, 0.4), 
        0 8px 10px 1px rgba(240, 46, 170, 0.3), 
        0 3px 14px 2px rgba(240, 46, 170, 0.2), 
        /* Third shadow */
        0 5px 5px -3px rgba(240, 46, 170, 0.4), 
        0 8px 10px 1px rgba(240, 46, 170, 0.3), 
        0 3px 14px 2px rgba(240, 46, 170, 0.2);
    transition: box-shadow 0.5s ease-in-out;
}

.calculator:hover {
    box-shadow: 
        /* First shadow */
        0 10px 10px -5px rgba(240, 46, 170, 0.4), 
        0 15px 20px 3px rgba(240, 46, 170, 0.3), 
        0 5px 25px 5px rgba(240, 46, 170, 0.2), 
        /* Second shadow */
        0 10px 10px -5px rgba(240, 46, 170, 0.4), 
        0 15px 20px 3px rgba(240, 46, 170, 0.3), 
        0 5px 25px 5px rgba(240, 46, 170, 0.2), 
        /* Third shadow */
        0 10px 10px -5px rgba(240, 46, 170, 0.4), 
        0 15px 20px 3px rgba(240, 46, 170, 0.3), 
        0 5px 25px 5px rgba(240, 46, 170, 0.2);
}


.screen{
    width: 300px;
    height: 75px;
    margin: 13px;
    border: 3px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #eee;
}

.previous{
    font-size: 20px;
}

.current{
    font-size: 30px;
}

.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 75px;
    width: 75px;
    margin: 15px;
    font-size: 40px;
    border: 3px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 3px 0 #ccc;
    transition: box-shadow 0.2s ease;
    cursor: pointer;
  }
  
  .btn:hover {
    box-shadow: 0 6px 0 #ccc;
  }
  
  .btn:active {
    box-shadow: 0 0 0 #ccc;
  }
  
  .number {
    border-color: slateblue;
  }
  
  .number:hover {
    color: #fff;
    background-color: slateblue;
  }
  
  .operator {
    border-color: cornflowerblue;
  }
  
  .operator:hover {
    color: #fff;
    background-color: cornflowerblue;
  }
  
  .clear {
    border-color: red;
  }
  
  .clear:hover {
    color: #fff;
    background-color: red;
  }
  
  .decimal {
    border-color: lightgreen;
  }
  
  .decimal:hover {
    color: #fff;
    background-color: lightgreen;
  }
  
  .equal {
    border-color: lightgreen;
  }
  
  .equal:hover {
    background-color: lightgreen;
    color: #fff
 }

